<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pom.css">

</head>

<body>
    <%- include ('partials/navbar.ejs')%>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
                <p class='lead' style="color: rgb(0, 89, 255);">RBus</p>
                <div class='list-group'>
                    <button id="b1" type="button" class='list-group-item list-group-item-action'
                        data-toggle="list">Prikaži podatke o korisniku</button>
                    <button id="b2" type="button" class='list-group-item list-group-item-action'
                        data-toggle="list">Vaše rezervacije</button>
                </div>
            </div>
            <div class='col-md-9'>
                <br>
                <br>
                <div id="id1" class='col-md-9'>
                    <% if(user!=undefined) {%>
                    <dl class="row">
                        <dt class="col-sm-3">Ime korisnika</dt>
                        <dd class="col-sm-9"><%= user.name %></dd>

                        <dt class="col-sm-3">Telefon</dt>
                        <dd class="col-sm-9"><%=user.phone%></dd>

                        <dt class="col-sm-3">Username</dt>
                        <dd class="col-sm-9"><%= user.username %></dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9"><%= user.email %></dd>

                        <button style="margin-left: 170px; width: 150px;" id="btn1" class="btn btn-info">Izmeni
                            podatke</button>
                    </dl>
                    <hr>
                    <%}%>
                </div>
                <div id="id2" class='col-md-9'>
                    <% if(user!=undefined) {%>
                    <form method='post' action='/profile/korisnik/edit/<%=user.email%>?_method=PUT'>
                        <div class="form-group">
                            <label for="inputIme">Ime:</label>
                            <input type="text" id="inputIme" class="form-control" name='name' value=<%= user.name %>
                                required>
                        </div>
                    
                        <div class="form-group">
                            <label for="inputTelefon">Telefon:</label>
                            <input type="text" id="inputTelefon" class="form-control" name='phone'
                                value="<%=user.phone%>" pattern="^06\d{7,8}$" title="Morate uneti format telefona."
                                required>
                        </div>
                        <div class="form-group">
                            <label for="inputUsername">Username:</label>
                            <input type="text" id="inputUsername" class="form-control" name='username'
                                value=<%= user.username %> required disabled>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail">Email:</label>
                            <input type="email" id="inputEmail" class="form-control" name='email'
                                value=<%= user.email %> required disabled>
                            <small id="emailHelp" class="form-text text-muted">Necemo podeliti vasu adresu ni sa
                                kim.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Nova sifra:</label>
                            <input type="password" id="inputPassword" class="form-control" name='password2'
                                placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"
                                title="Mora da sadrzi bar jedan broj, jedno malo slovo, jedno veliko slovo i bar 7 karaktera.">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword2">Unesite trenutnu sifru da biste potvrdili promene:</label>
                            <input type="password" id="inputPassword2" class="form-control" name='password'
                                placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"
                                title="Mora da sadrzi bar jedan broj, jedno malo slovo, jedno veliko slovo i bar 7 karaktera."
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sačuvaj</button>
                    </form>
                    <%}%>
                <br>
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal1">Brisanje
                    naloga</button>
                    <!-- pocetak modala -->
                    <div class="modal" id="myModal1" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Brisanje korisnika <%= user.username %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Da li ste sigurni da zelite da obrišete Vaš nalog?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Odustani</button>
                                    <form method='post' action='/profile/korisnik/<%=user.email%>?_method=DELETE'>
                                        <button type="submit" class="btn btn-danger">Izbriši</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- kraj modala -->
                </div>
                <div id="id3" class='col-md-9'>
                    
                    <h1 style="color:rgb(0, 110, 255)">Vaše rezervacije:</h1>
                    <% if(rezervacije!=undefined) {%>
                    <% for(var i=0;i<rezervacije.length;i++){%>

                    <dl class="row">
                        <dt class="col-sm-3">ID rezervacije:</dt>
                        <dd class="col-sm-9"><%= rezervacije[i].resID %> </dd>
                        <dt class="col-sm-3">ID termina:</dt>
                        <dd class="col-sm-9"><%= rezervacije[i].TerminID %> </dd>
                        <dt class="col-sm-3">Vreme rezervacije:</dt>
                        <dd class="col-sm-9"><%= rezervacije[i].vremerez%>h</dd>
                        <dt class="col-sm-3">Polaziste:</dt>
                        <dd class="col-sm-9"><%= termini[i].start%></dd>
                        <dt class="col-sm-3">Odrediste:</dt>
                        <dd class="col-sm-9"><%= termini[i].cilj%></dd>
                        <dt class="col-sm-3">Prevoznik:</dt>
                        <dd class="col-sm-9"><%= termini[i].imeprevoznika%></dd>
                        <dt class="col-sm-3">Datum:</dt>
                        <dd class="col-sm-9"><%= termini[i].datum%></dd>    
                       <dt class="col-sm-3">Vreme:</dt>
                        <dd class="col-sm-9"><%= termini[i].vreme%></dd>
                        <dt class="col-sm-3">Cena:</dt>
                        <dd class="col-sm-9"><%= termini[i].cena%></dd>
                        <dt class="col-sm-3">Broj sedista:</dt>
                        <dd class="col-sm-9"><%= rezervacije[i].brojsedista%></dd>
                        <button style="margin-left: 170px; margin-top: 20px; width: 150px;" class="btn btn-danger"
                            data-toggle="modal" data-target="#myModal4<%= rezervacije[i].resID %>">Otkaži rezervaciju</button>

                    </dl>
                    <hr>
                    <!-- pocetak modala -->
                    <div class="modal" id="myModal4<%= rezervacije[i].resID %>" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Otkazivanje rezervacije <%= rezervacije[i].resID %> </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Da li ste sigurni da zelite da otkazete ovu rezervaciju?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Odustani</button>
                                    <form method='post'
                                        action='/profile/korisnik/<%=user.email%>/<%=rezervacije[i].resID%>?_method=DELETE'>
                                            <button type="submit" class="btn btn-danger">Izbrisi</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- kraj modala -->
                   <%}%>
                  
                  <hr>
                   <%}else{%>
                    <br>                  
                    <h4>Nema rezervacija.</h4>
                   <%}%>

                    
                </div>
            </div>
        </div>
    </div>
</body>
<script src="pomkorisnikprofile.js"></script>
<%- include ('partials/footer.ejs'); %>
</html>